<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="EXOFiddlerInspector.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <EXOFiddlerInspector.Properties.Settings>
            <setting name="UpdateURL" serializeAs="String">
                <value>https://aka.ms/O365FiddlerExtensionUpdateCheckUrl</value>
            </setting>
            <setting name="InstallerURL" serializeAs="String">
                <value>https://aka.ms/O365FiddlerExtensionUpdateUrl</value>
            </setting>
            <setting name="WikiURL" serializeAs="String">
                <value>https://aka.ms/O365FiddlerExtensionWiki</value>
            </setting>
            <setting name="ReportIssuesURL" serializeAs="String">
                <value>https://aka.ms/O365FiddlerExtensionIssues</value>
            </setting>
            <setting name="UpdateJsonURL" serializeAs="String">
                <value>https://aka.ms/O365FiddlerExtensionJson</value>
            </setting>
        </EXOFiddlerInspector.Properties.Settings>
    </applicationSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-12.0.0.0" newVersion="12.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Diagnostics.DiagnosticSource" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.3.1" newVersion="4.0.3.1" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>